.formulario__checkbox-container {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 16px #e6e6e6;
}

input[type="checkbox"] {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50px !important;
  box-shadow: 0 0 16px #e6e6e6 !important;
}
